@import "./reset.css";

:root {
    /* ---COLORS--- */
    --neutral-0: #fff;
    --neutral-200: #d4d3d9;
    --neutral-300: #acacb7;
    --neutral-600: #3c3b5e;
    --neutral-700: #302f4a;
    --neutral-800: #262540;
    --neutral-900: #02012c;

    --orange-500: #ff820a;

    --blue-500: #4658d9;
    --blue-700: #2b1b9c;

    /* ---FONTS--- */
    --DM-Sans: "DM Sans", sans-serif;
    --Bricolage-Grotesque: "Bricolage Grotesque", sans-serif;

    /* ---TEXT PRESETS--- */
    --text-preset-1: italic 600 6rem var(--DM-Sans);
    --text-preset-2: 700 3.25rem/1.2 var(--Bricolage-Grotesque);
    --text-preset-3: 300 2rem var(--DM-Sans);
    --text-preset-4: 700 1.75rem/1.2 var(--DM-Sans);
    --text-preset-5: 600 1.25rem/1.2 var(--DM-Sans);
    --text-preset-5-md: 500 1.25rem/1.2 var(--DM-Sans);
    --text-preset-6: 500 1.125rem/1.2 var(--DM-Sans);
    --text-preset-7: 500 1rem/1.2 var(--DM-Sans);
    --text-preset-8: 500 0.875rem/1.2 var(--DM-Sans);

    --outline: 2px solid #fff;
}

*:focus-visible {
    outline: var(--outline);
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--neutral-900);
    color: var(--neutral-0);
}

.container {
    max-width: 76rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.header {
    position: sticky;
    top: 0;

    padding-block: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    backdrop-filter: blur(3px);
}

.logo {
    max-width: revert;
    height: 1.75rem;
}

.dropdown-units {
    font: var(--text-preset-7);
}

.button-units {
    display: inline-flex;
    gap: 0.625em;
    background-color: var(--neutral-800);
    padding: 0.75em 1em;
    border-radius: 8px;
    font-size: 0.875rem;

    & > img:first-of-type {
        width: 1em;
    }

    & > img:last-of-type {
        width: 0.875em;
    }
}

.menu-units {
    right: 0;
    margin-top: 0.625rem;

    width: 13.375rem;
    background-color: var(--neutral-800);
    border-radius: 12px;
    padding: 0.375rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & .spacer {
        height: 0.063rem;
        background-color: var(--neutral-600);
    }
}

.meteric-switch {
    text-align: left;
    padding: 0.625rem 0.5rem;
}

.unit-category {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.unit-to-choose {
    font: var(--text-preset-8);
    color: var(--neutral-300);
    padding: 0.375rem 0.5rem 0;
}

.unit-options {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.unit-option {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
    padding: 0.625rem 0.5rem;
    border-radius: 8px;

    & > img {
        width: 0.875rem;
        display: none;
    }

    &.selected {
        background-color: var(--neutral-700);

        & > img {
            display: revert;
        }
    }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    display: none;

    .dropdown.open & {
        display: flex;
    }
}

.main {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.hero-text {
    font: var(--text-preset-2);
    text-align: center;
    padding-inline: 1rem;
}

.search-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font: var(--text-preset-5-md);
}

.search-input {
    background-color: var(--neutral-800);
    padding: 1rem 1.5rem;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--neutral-200);
    cursor: text;
    &:focus-within {
        outline: var(--outline);
    }
}

.search-input__icon {
    height: 1.25rem;
    max-width: revert;
}

.search-input__input {
    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--neutral-200);
    }
}

.search-button {
    padding: 1rem 1.5rem;
    background-color: var(--blue-500);
    border-radius: 12px;
}

.weather-data-display {
    margin-top: 2rem;
}

.general-with-bg {
    background-image: url("../assets/bg-today-small.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 17.875rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.location-and-date-time {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.location {
    font: var(--text-preset-4);
}

.date-time {
    font: var(--text-preset-6);
    color: var(--neutral-200);
}

.current-temp {
    display: flex;
    justify-content: center;
    @media (width >= 23.43rem) {
        gap: 1.25rem;
    }
}

.current-temp__weather-code-icon {
    width: 7.5rem;
}

.current-temp__number {
    font: var(--text-preset-1);
}

.weather-stats-grid {
    margin-top: 1.25rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(9.375rem, 100%), 1fr));
}

.weather-stat {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.25rem;
    background-color: var(--neutral-800);
    border-radius: 12px;
}

.weather-stat__stat {
    font: var(--text-preset-6);
    color: var(--neutral-200);
}

.weather-stat__number {
    font: var(--text-preset-3);
}
